[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
streamlit = "*"
twint = {editable = true, git = "https://github.com/twintproject/twint.git"}

[dev-packages]

[requires]
python_version = "3.9"
